/* root colors */
:root {
    --bs-border-color: #dadada;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f4f4f4 !important;
    font-family: 'IBM Plex Sans Arabic','Inter', sans-serif !important;
}

.rtl {
    direction: rtl;
}

.inbox-sidebar {
    width: 60px;
}

.filters {
    width: 15%;
    padding: 0;
}

.filters-trigger {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3%;

    & span.filter-button {
        cursor: pointer;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    & span.applied-filters-count {
        font-size: 10px;
        background: var(--bs-gray-700);
        width: 15px;
        height: 15px;
        line-height: unset;
        text-align: center;
        color: white;
        padding: 0px;
        border-radius: 50%;
        font-weight: 700;
        margin: -3px;
    }
}

.filters-list {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 10px;
        border-radius: 7px;
        transition: all 0.3s;

        &:hover {
            background-color: var(--bs-gray-200);
        }

        & a {
            text-decoration: none;
            color: #000;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
        }
    }

    & li.active {
        background-color: var(--bs-gray-200);
        box-shadow: inset 0px 0px 2px var(--bs-gray-500);
    }
}

#filtersModal {

    & button.dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 230px;
    }

    & .dropdown-menu {
        & li {
            width: max-content;
        }

        & .form-check {
            margin: 10px 15px;
            width: max-content;
        }
    }
}

.conversations-list {
    height: 100vh;
    width: 22.5%;
    padding: 0;
    background-color: #fff;

    & .conversations-list-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: .5px solid var(--bs-border-color);
        height: 50px;
        padding: 5px;
    }

    & .conversations-list-header-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        & button {
            font-size: 20px;
            padding: 3px;
        }
    }

    & .conversations-list-status-toggle {
        width: 90%;
        margin: 10px auto;
        background: var(--bs-gray-200);
        border-radius: var(--rounded);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px;

        & .btn {
            width: 50%;
            border-radius: var(--rounded);
            display: flex;
            justify-content: center;
            transition: all 0.2s;
        }

        & .btn.active {
            background: #fff;
            font-weight: 700;
            /* add shadow in the bottom */
            box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.1);
        }

        & span.conversations-count {
            font-size: 10px;
            font-weight: 700;
            border-radius: 50px;
            background-color: var(--bs-gray-700);
            min-width: 20px;
            display: inline-block;
            color: #fff;
            margin: 0 5px 5px 5px;
            padding: 0 5px;
        }
    }

    & .conversations-list-items {
        overflow-y: scroll;
        max-height: calc(100vh - 120px);
        box-shadow: inset 0px 3px 5px -3px rgba(0, 0, 0, 0.07);
    }

    & .conversation-item {
        margin-top: 5px;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 5px;
        transition: all 0.2s;

        & .contact-picture {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 15%;

            & img {
                width: 80%;
                height: auto;
                border-radius: 50px;
                margin: 5px;
            }
        }

        & span.channel-type {
            width: 22px;
            height: 22px;
            border-radius: 50px;
            padding: 3px;
            margin: -17px 2px 0 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid white;
        }

        & .whatsapp-channel {
            background: #51bb79;
            fill: white;
        }

        & .x-channel {
            background: #333;
            fill: white;
        }

        & .instagram-channel {
            background: #833ab4;
            background: linear-gradient(to right,
                    #833ab4, #fd1d1d, #fcb045);
            fill: white;
        }

        & .conversation-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: 5px;

            & .conversation-title {
                display: flex;
                flex-direction: row;
                width: 90%;
                align-items: center;
                justify-content: space-between;

                & span.contact-title {
                    font-weight: 600;
                    font-size: 15px;
                }

                & span.unread-messages {
                    background: var(--bs-primary);
                    color: white;
                    font-size: 12px;
                    font-weight: 600;
                    width: 25px;
                    border-radius: var(--rounded);
                    text-align: center;
                }
            }

            & .conversation-last-message {
                padding: 0px 15px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                color: var(--bs-gray-500);
                width: 100%;
            }

            & span.last-message {
                color: var(--bs-gray-500);
                font-size: 13px;
            }

            & .conversation-assigned-to {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0 15px;

                & span {
                    font-size: 10px;
                    color: var(--bs-gray-500);
                    font-weight: 400;
                }

                & span.last-message-time {
                    font-size: 12px !important;
                    font-weight: 500;
                    color: var(--bs-gray-600);
                }

                & img {
                    width: 18px;
                    border-radius: 50px;
                    margin: 5px;
                }
            }
        }

    }

    & .conversation-item.active {
        background-color: var(--bs-gray-100);
    }

    & .conversation-item:hover {
        background-color: var(--bs-gray-100);
    }

    & .getting-more-conversation {
        width: 100%;
        height: 50px;
        position: sticky;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        & .getting-more-conversation-text {
            width: 90%;
            font-size: 15px;
            color: var(--bs-primary);
            padding: 5px 15px;
            border: .5px solid var(--bs-primary);
            border-radius: 5px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff33;
            backdrop-filter: blur(5px);
        }
    }
}

.conversation-details {
    width: calc(40%);
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .conversation-details-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: .5px solid var(--bs-border-color);
        height: 50px;
        padding: 5px;
    }

    .conversation-summary {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    img.contact-picture {
        width: 40px;
        height: auto;
        border-radius: 50%;
    }

    .action-buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .action-button {
        font-size: 24px;
        height: 30px;
        width: 30px;
        text-decoration: none;
        color: var(--bs-dark);
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--bs-primary);
            font-size: 26px;
        }
    }

    .conversation-messages {
        overflow-y: scroll;
        height: calc(100vh - 125px - 50px);
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .message {
            margin-top: 10px;
            display: flex;
            flex-direction: column;

            .message-info {
                display: flex;
                gap: 5px;
                align-items: center;

                .message-author-picture img {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                }

                .message-circle {
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: var(--bs-gray-400);
                    color: white;
                    display: inline-block;
                    margin: 0 5px;
                }

                span.message-author {
                    font-weight: 500;
                }

                span.message-timestamp {
                    color: var(--bs-gray-600);
                }
            }

            .message-content {
                padding: 5px 10px;
                border-radius: 10px;
                margin: 5px 0;
                max-width: 70%;
                word-wrap: break-word;

                & p {
                    margin: 0;
                    white-space: break-spaces;
                }
            }
        }

        .message.incoming {
            .message-info {
                flex-direction: row;
            }

            .message-content {
                background-color: var(--bs-gray-200);
                border-radius: 0px 5px 5px 5px;
                align-self: flex-start;
            }
        }

        .message.outgoing {
            .message-info {
                flex-direction: row-reverse;
            }

            .message-content {
                background-color: var(--bs-primary);
                color: white;
                border-radius: 5px 0px 5px 5px;
                align-self: flex-end;
            }
        }

        .continuous-message {
            margin-top: -25px;

            & .message-content {
                border-radius: 5px !important;
            }
        }
    }

    .inbox-input-editor {
        height: 125px;
        background-color: #eaecef;
        margin: 5px;
        padding: 10px;
        border-radius: 10px;
        border: .5px solid var(--bs-gray-400);
        display: flex;
        flex-direction: column;
    }

    textarea.inbox-editor-textarea {
        width: 100%;
        height: 75%;
        background: transparent;
        border: 0;
        resize: none;
        outline: none;
    }

    .inbox-editor-action-buttons {
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


}

.contact-details {
    width: 22.5%;
    padding: 0;
}